.game{
    width: 400px;
    text-align: center;
    font-family: system-ui;
    color: aliceblue;
    margin: auto;
    font-weight: 700;
}
.title{
    background-color: rgb(55, 200, 236);
    margin: 10px 0;
    padding: 10px 0;
    font-size: 30px;
    color: black; 

}
span{
    color: black;

}
.item{
    width: 120px;
    height: 120px;
    background-color: rgb(47, 44, 211);
    color: #f82121;
    float: left;
    margin: 5px;
    font-size: 90px;
}
.item:hover{
    background-color: #f82121;
    cursor: pointer;
    color: rgb(64, 233, 64);
}